.cookie {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 220px;
  background-color: #f7eade;
  z-index: 10000;
  h1{
    color:#e27500 ;
  }
}
.cookie-margin-top-text{
  margin-top: -20px;
}
.img-cookie{
  max-height: 100px;
  margin-top: 0px;
  margin-right: 20px;
}

.btn-cookie {
  background-color: #e27500;
  border: 1px solid #e27500;
  font-weight: bold;
  :hover{
    border: 1px solid #323232;
  }
  a{
    font-weight: bold;
    color: #fff;
    text-transform: none;
    text-decoration: none;
    :hover{
      text-decoration: none;
    }
  }
}