// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
// Variables
@import "variables";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "nav-bar";
@import "navbar-icon";
@import "logo";
@import "carousel";
@import "home";
@import "items/item";
@import "items/color-items";
@import "subscribe/complite";
@import "font";
@import "cookie/cookie";
@import "items/iteam-detail";
@import "items/items-carousel";
@import "about_us/about_us";
@import "white-background/white-background";
@import "faq/faq";
@import "filter/filter";

.uppercase {
  text-transform: uppercase;
}

a:hover {
  color: #fff;
}

input.form-control {
  margin-top: 1px;
  font-size: 16px !important;
  height: 46px !important;
  color: $text-color_white !important;
  border-radius: 0px;
}

textarea.form-control {
  margin-top: 1px;
  font-size: 16px !important;
  color: $text-color_white !important;
  border-radius: 0px;
}

textarea.form-control::-webkit-input-placeholder {
  color: $text-color_white;
}

input.form-control::-webkit-input-placeholder {
  color: $text-color_white;
}

input.form-control::-moz-placeholder {
  color: $text-color_white;
}

input.form-control:-ms-input-placeholder {
  color: $text-color_white;
}

.btn {
  border-radius: 0px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 35px;
  border-radius: 0px;
}

.btn:hover {
  background-color: #424242;
}

.btn-default {
  border: 1px solid #323232;
  background-color: #323232;
  color: $text-color_white;
}

.btn-default:hover {
  background-color: #424242;
}

//
//@font-face {
//  font-family: chaplinMedium;
//  src: url('/font/Choplin-Medium-DEMO.eot');
//  src: url('/font/Choplin-Medium-DEMO.woff') format('woff'),
//  url('/font/Choplin-Medium-DEMO.ttf') format('truetype');
//  font-weight: normal;
//  font-style: normal;
//}
@font-face {
  font-family: 'Choplin-Medium-DEMO';
  src: url('Choplin-Medium-DEMO.ttf.woff') format('woff'),
  url('Choplin-Medium-DEMO.ttf.svg#Choplin-Medium-DEMO') format('svg'),
  url('Choplin-Medium-DEMO.ttf.eot'),
  url('Choplin-Medium-DEMO.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

.choplin-font {
  font-family: 'Choplin-Medium-DEMO', "Arial";
}

.pagination > li > a,
.pagination > li > span {
  color: #fff; // use your own color here
  background-color: #e27500;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: #fff;
  color: #e27500;
  border-color: $text-color_white;
}

.caret {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid $text-color_white;
}

.caret-right {

  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent;
  border-left: 8px solid $text-color_white;
  display: inline-block;
  margin-left: 5px;
}