.font-gray{
  color: $text-color_white;

}
.font-white{
  color: #fff;
}

.font-head{
  font-size: 40px;
}


.font-weight{
  font-weight: bold;
}
.font-normal{
  text-transform: none;
}

.font-orange{
  color: #e27500;
}
.font-grey{
  color: #535353;
}

.font-20{
  font-size: 20px;
}