.home-introduction {
  text-align: center;
  margin-top: 50px;
}

//categories styles

.home-categories-margin {
  margin-top: 40px;
}
.home-categories-images{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.home-categories-text {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 5px;
}
.home-categories-text.small {
  font-size: 18px;

}

ul.home-categories{
margin-left: -15px;
}
ul.home-categories li{
  list-style: none;
  display: inline;
  width: 150px;
  margin: auto;

}
@media(min-width:1200px) {
  ul.home-categories{
    margin-left: 50px;
  }
  ul.home-categories li{
    list-style: none;
    display: inline;
    width: 165px;
    margin: auto;

  }
}



ul.home-categories li:not(:last-child) {
  background:url('../images/categories/devider.png') top 15px right no-repeat;
}

@media(min-width:1200px) {
  .hot-items {
    margin-left: 50px;
    margin-top: 15px;
  }
}

