.home-introduction {
  text-align: center;
  margin-top: 50px;
}

//categories styles

.home-categories-margin {
  margin-top: 40px;
}
.home-categories-images{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.home-categories-text {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}
.home-categories-text.small {
  font-size: 16px;

}


div.home-categories-position:not(:last-child) {
  background:url('../images/categories/devider.png') bottom 25px right no-repeat;
}

