#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 210px;
  width: 0;
  height: 100%;
  margin-left: -210px;
  overflow: hidden;
  background: $navbar-default-bg;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 200px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -200px;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 210px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  margin-left: -5px;
  line-height: 20px;
}

.sidebar-nav li a {
  display: inline-block;
  height: 52px;
  line-height: 52px;

  padding-left: 60px; /* To sift text off the background-image */
  background: url("spritesheet.png") no-repeat; /* As all link share the same background-image */
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

//@media(min-width:768px) {
#wrapper {
  padding-left: 210px;
}

#wrapper.toggled {
  padding-left: 50px;
}

#sidebar-wrapper {
  width: 210px;
}

#wrapper.toggled #sidebar-wrapper {
  width: 50px;
}

#page-content-wrapper {
  //padding: 20px;
  position: relative;
}

#wrapper.toggled #page-content-wrapper {
  position: relative;
  margin-right: 50px;
}

.nav-devider {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-left: 7px;
  margin-right: 7px;
  color: #454545;
  width: 38px;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
}

.nav-devider.active {
  margin-left: 7px;
  margin-right: 7px;
  color: #454545;
  width: 196px;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
}

.nav-email-style {
  margin-top: -10px;
  margin-bottom: -30px;
}
#sidebar-wrapper .nav-email-style a{
  line-height: 35px;
}

//}