.color-circel{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid #fff;
}
.color-red{
  background-color: #ff6f9e;
}
.color-green{
background-color: #7bff81;
}
.color-blue{
background-color: #2d4aac;
}
.color-black{
background-color: #282828;
}
.color-white{
background-color: #ffffff;
}
