.item-detail-margin-top {
  margin-top: 150px;
}

$margin-left: -4.5%;

.item-detail-container {
  background-color: #565656;
}

.item-detail-img-area {
  margin-left: $margin-left;
}

.item-detail-detail-area {
  //background-color: #00ee00;
}

$multiplair: 1.235;

.img-big {
  height: 270px *$multiplair;
  width: 465px *$multiplair;
  margin-top: 5px;
}

.img-small {
  z-index: 5000;
  width: 100%;
  height: 100%;
}

.img-small.on-active {
  opacity: 0.6;
}

.overlay-img {
  z-index: 1000;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  border: 2px solid #fff;
  height: 85px *$multiplair*1.04;
  width: 145px *$multiplair*1.04;
  background-color: #fff;
}

.small-img-text {
  margin-bottom: 2px;
  font-size: 12px;
  font-family: Arial;
}

.maximize {
  position: absolute;
  top: 5px;
  right: -8px;
}

/////////////////////////////

#breadcrumbs-three {
  overflow: hidden;
  width: 100%;
}

#breadcrumbs-three li {
  list-style: none;
  float: left;
  margin: 0 0.7em 0 0;
}

.breadcrumbs-three-circel {
  position: relative;
  height: 5px;
  width: 5px;
  border-radius: 50%;
}

.breadcrumbs-three-circel .dogs {
  background-color: #ff6f9e;
}

#breadcrumbs-three li:not(:first-child) {
  margin-top: 0.2em;
}

#breadcrumbs-three a {
  padding: 2px 5px 2px 5px;
  text-align: center;
  float: left;
  text-decoration: none;
  color: $text-color_white;
  background: #323232;
  position: relative;
  z-index: 1;
  border-radius: .4em 0 0 .4em;
}

//#breadcrumbs-three a:hover{
//  background: #abe0ef;
//}

#breadcrumbs-three a::before {
  background: #323232;
  content: "";
  height: 1.5em;
  margin-top: -1.25em;
  position: absolute;
  left: -0.5em;
  top: 80%;
  width: 1.5em;

  z-index: -1;
  transform: rotate(45deg);
  border-radius: .4em;
}

#breadcrumbs-three a:hover::after {
  background: #abe0ef;
}

#breadcrumbs-three .current,
#breadcrumbs-three .current:hover {
  font-weight: bold;
  background: none;
}

#breadcrumbs-three .current::before {
  content: normal;
}